**import necessary libraries**

In [ ]:
import requests
from bs4 import BeautifulSoup as bs

#### Load the webpage

In [39]:
url = "https://en.wikipedia.org/wiki/Toy_Story_3"
r=requests.get(url)
#create the beautifulsoup object 
soup = bs(r.content)

In [40]:
#see the html page 
# print(soup.prettify())

In [41]:
info_box = soup.find(class_= "infobox vevent")
info_rows=info_box.find_all("tr")
#for row in info_rows:
   # print(row.prettify())

In [5]:
type(info_rows)

bs4.element.ResultSet

#### get the all info of movie

In [52]:
def get_content_value(row_data):
    if row_data.find('li'):
        return [li.get_text(" " , strip = False).replace("\xa0" , " ") for li in row_data.find_all("li")]
    else:
        return row_data.get_text(" " , strip = False).replace("\xa0" , " ") 

movie_info = {}

for index,row in enumerate(info_rows):
    if index == 0 :
        movie_info['title'] = row.find("th").get_text(" " , strip = False)
    elif index == 1:
        continue
    else : 
        content_key = row.find("th").get_text("\n" ,strip = False).replace("\n" ,"  ") # or get_text(" " , strip = False)
        content_value  = get_content_value(row.find("td"))
        movie_info[content_key] = content_value
    
movie_info

{'title': 'Toy Story 3',
 'Directed by': 'Lee Unkrich',
 'Produced by': 'Darla K. Anderson',
 'Screenplay by': 'Michael Arndt',
 'Story by': ['John Lasseter', 'Andrew Stanton', 'Lee Unkrich'],
 'Starring': ['Tom Hanks',
  'Tim Allen',
  'Joan Cusack',
  'Don Rickles',
  'Wallace Shawn',
  'John Ratzenberger',
  'Estelle Harris',
  'Blake Clark',
  'Jeff Pidgeon',
  'Ned Beatty',
  'Michael Keaton',
  'Jodi Benson',
  'John Morris'],
 'Music by': 'Randy Newman',
 'Cinematography': ['Jeremy Lasky', 'Kim White'],
 'Edited by': 'Ken Schretzmann',
 'Production  company ': ['Walt Disney Pictures', 'Pixar Animation Studios'],
 'Distributed by': 'Walt Disney Studios Motion Pictures',
 'Release date': ['June 12, 2010  ( 2010-06-12 )  ( Taormina Film Fest )',
  'June 18, 2010  ( 2010-06-18 )  (United States)'],
 'Running time': '103 minutes [1]',
 'Country': 'United States',
 'Language': 'English',
 'Budget': '$200 million [1]',
 'Box office': '$1.067 billion [1]'}

In [53]:
len(movie_info)

17

#### get info box for all movies

In [54]:
r = requests.get("https://en.m.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")
soup = bs(r.content)

In [55]:
movies = soup.select(".wikitable.sortable i a")

In [56]:
movies[0:10]
movies[0]['href']

'/wiki/Academy_Award_Review_of_Walt_Disney_Cartoons'

In [57]:
movies[0]['title']

'Academy Award Review of Walt Disney Cartoons'

In [58]:

def get_content_value(row_data):
    if row_data.find('li'):
        return [li.get_text(" " , strip = True).replace("\xa0" , " ") for li in row_data.find_all("li")]   
    elif row_data.find("br"):     # solution for the long sentences get converted into list 
        return [text for text in row_data.stripped_strings]
    else:
        return row_data.get_text(" " , strip =True).replace("\xa0" , " ") 
    
#cleaning the references / tags [0] [1]
def clean_tags (soup):
    for tags in soup.find_all(["sup" , "span"]):    # removing wrt 'superscript tag'
        tags.decompose()

        
def get_info_box(url):
    
    r=requests.get(url)  
    soup = bs(r.content)    #create the beautifulsoup object 
    
    clean_tags(soup)      #cleaning the references / tags [0] [1]
       

    info_box = soup.find(class_= "infobox vevent")  # common class_ for all movies 
    info_rows=info_box.find_all("tr")
    movie_info={}    # empty dict to stotre the movie info   
    for index,row in enumerate(info_rows):
        if index == 0 :
            movie_info['title'] = row.find("th").get_text(" " , strip = True)
        else: 
            header = row.find("th")  # some of the tables not have header 
            if header:
                content_key = row.find("th").get_text(" " , strip = True) # or get_text(" " , strip = Truee)
                content_value  = get_content_value(row.find("td"))
                movie_info[content_key] = content_value
            
    return movie_info

In [59]:
 get_info_box("https://en.m.wikipedia.org/wiki/One_Little_Indian_(film)")

{'title': 'One Little Indian',
 'Directed by': 'Bernard McEveety',
 'Produced by': 'Winston Hibler',
 'Written by': 'Harry Spalding',
 'Starring': ['James Garner',
  'Vera Miles',
  'Pat Hingle',
  'Morgan Woodward',
  'Jodie Foster'],
 'Music by': 'Jerry Goldsmith',
 'Cinematography': 'Charles F. Wheeler',
 'Edited by': 'Robert Stafford',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'Buena Vista Distribution',
 'Release date': ['June 20, 1973'],
 'Running time': '90 Minutes',
 'Country': 'United States',
 'Language': 'English',
 'Box office': '$2 million'}

In [61]:
movies_info_list = []   # extracted movies info 

r = requests.get("https://en.m.wikipedia.org/wiki/List_of_Walt_Disney_Pictures_films")
soup = bs(r.content)
movies = soup.select(".wikitable.sortable i a")

base_path = "https://en.m.wikipedia.org/"      # base path of wikipedia

for index , movie in enumerate(movies):
  
    try:
        relative_path = movie['href']            #extracted path 
        complte_url  = base_path + relative_path      # base_path + extracted path 
        title = movie['title']        
        movies_info_list . append(get_info_box(complte_url))  # extracting the  all info 
        
    except Exception as  e:
        print(movie.get_text())
        print(e)

Zorro the Avenger
'NoneType' object has no attribute 'find'
The Sign of Zorro
'NoneType' object has no attribute 'find'
True-Life Adventures
'NoneType' object has no attribute 'find_all'
Luca
'NoneType' object has no attribute 'find_all'

In [62]:
len(movies_info_list)

444

In [63]:
movies_info_list[100]

{'title': 'Scandalous John',
 'Directed by': 'Robert Butler',
 'Produced by': 'Bill Walsh',
 'Written by': 'Bill Walsh',
 'Starring': ['Brian Keith', 'Alfonso Arau', 'Michele Carey'],
 'Cinematography': 'Frank V. Phillips',
 'Edited by': 'Cotton Warburton',
 'Production company': 'Walt Disney Productions',
 'Distributed by': 'Buena Vista Distribution',
 'Release date': 'June 22, 1971',
 'Running time': '113 minutes',
 'Country': 'United States',
 'Language': 'English'}

#### save / reload movoe data

In [44]:
# to save the data
import json

def save_data(title,data):
    with open (title ,"w" , encoding = "utf-8") as f:
        json.dump(data,f , ensure_ascii = False, indent = 4 )

In [45]:
#load data
def load_data(title):
     with open (title , encoding = "utf-8") as f:
            return json.load(f)

In [46]:
#save_data("disney_raw_data.json" , movies_info_list)

## data cleaning

#### subtasks

-  ~~try to filtered out exception ~~
- ~~running time to int ~~
-  ~~remove tags [0] [1]~~
- ~~solution for the long sentences ~~
- ~~convert running time to int~~
- make datetime object 
- Budget & box_office to int

In [192]:
# save_data("disney_data_cleaned_1.json" ,movies_info_list )  # not_fullycleaned

In [65]:
movies_info =load_data("disney_data_cleaned_1.json")

In [71]:
len(movies_info)

444

In [73]:
movies_info[0:1]

[{'title': 'Academy Award Review of',
  'Production company': 'Walt Disney Productions',
  'Release date': ['May 19, 1937'],
  'Running time': '41 minutes (74 minutes 1966 release)',
  'Country': 'United States',
  'Language': 'English',
  'Box office': '$45.472'}]

In [77]:
x= {"b":4}
x.get("a" ,"n/a")

'n/a'

In [87]:
print ([x.get('Running time' , np.nan) for x in movies_info])

['41 minutes (74 minutes 1966 release)', '83 minutes', '88 minutes', '126 minutes', '74 minutes', '64 minutes', '70 minutes', '42 minutes', '65 min.', '71 minutes', '75 minutes', '94 minutes', '73 minutes', '75 minutes', '82 minutes', '68 minutes', '74 minutes', '96 minutes', '75 minutes', '84 minutes', '77 minutes', '92 minutes', '69 minutes', '81 minutes', ['60 minutes (VHS version)', '71 minutes (original)'], '127 minutes', '92 minutes', '76 minutes', '75 minutes', '73 minutes', '85 minutes', '81 minutes', '70 minutes', '90 min.', '80 minutes', '75 minutes', '83 minutes', '83 minutes', '72 minutes', '97 minutes', '75 minutes', '104 minutes', '93 minutes', '105 minutes', '95 minutes', '97 minutes', '134 minutes', '69 minutes', '92 minutes', '126 minutes', '79 minutes', '97 minutes', '128 minutes', '74 minutes', '91 minutes', '105 minutes', '98 minutes', '130 minutes', '89 min.', '93 minutes', '67 minutes', '98 minutes', '100 minutes', '118 minutes', '103 Minutes', '110 minutes', '80 min.', '79 minutes', '91 minutes', '91 minutes', '97 minutes', '118 minutes', '139 minutes', '92 minutes', '131 mins.', '87 minutes', '116 minutes', '93 minutes', '110 min.', '110 min.', '131 minutes', '101 minutes', '108 minutes', '84 minutes', '78 minutes', '75 minutes', ['164 minutes', '(', 'Los Angeles', 'premiere)', '144 minutes', '(', 'New York City', 'premiere)', '118 minutes', '(General release)', '172 minutes', '(', "Director's Cut", ')'], '106 minutes', '110 min.', '99 minutes', '113 mins.', '108 minutes', '112 minutes', '93 minutes', '91 minutes', '93 minutes', '100 minutes', '100 minutes', '79 minutes', '96 minutes', '113 minutes', '89 minutes', ['118 minutes (1971 original version)', '139 minutes (1996 reconstruction version)'], '92 minutes', '88 minutes', '92 minutes', '87 minutes', '93 minutes', '93 min.', '93 minutes', '90 Minutes', '83 minutes', '96 minutes', '88 minutes', '89 minutes', '91 minutes', '93 mins', '92 minutes', '97 min.', '100 minutes', '100 minutes', '89 minutes', '91 minutes', '112 minutes', '115 minutes', '95 minutes', '91 min.', '95 minutes', '104 minutes', '74 minutes', '48 minutes', '77 minutes', '104 minutes', '128 minutes', '101 minutes', '94 minutes', '104 minutes', '90 minutes', '100 minutes', '88 minutes', '93 minutes', '98 minutes', '100 minutes', '112 minutes', '84 minutes', '98 minutes', '97 minutes', '114 minutes', '96 minutes', '100 minutes', '109 minutes', '83 minutes', '90 minutes', '107 minutes', '96 minutes', '103 minutes', '91 min', '95 minutes', '105 minutes', '113 minutes', '80 minutes', '101 minutes', '89 minutes', '74 minutes', '90 minutes', '89 minutes', '110 minutes', '74 minutes', '93 minutes', '84 minutes', '83 minutes', '69 minutes', '77 minutes', '107 minutes', '93 minutes', '88 minutes', '108 minutes', '84 minutes', '121 minutes', '89 minutes', '104 minutes', '90 minutes', '86 minutes', '84 minutes', '108 minutes', '107 minutes', '96 minutes', '98 minutes', '105 minutes', '108 minutes', '94 minutes', '106 minutes', '102 minutes', '88 minutes', '102 minutes', '102 minutes', '97 minutes', '111 minutes', '100 minutes', '96 minutes', '98 minutes', '78 minutes', '81 minutes', '108 minutes', '89 minutes', '99 minutes', '89 minutes', '81 minutes', '92 minutes', '100 minutes', '89 minutes', '79 minutes', '91 minutes', '101 minutes', '104 minutes', '103 minutes', '86 minutes', '105 minutes', '93 minutes', '92 minutes', '98 minutes', '95 minutes', '93 minutes', '87 minutes', '93 minutes', '87 minutes', '128 minutes', '86 minutes', '95 minutes', '114 minutes', '93 minutes', '83 minutes', '83 minutes', '88 minutes', '78 minutes', '112 minutes', '92 minutes', '74 minutes', '77 minutes', '82 minutes', '104 minutes', '113 minutes', '100 minutes', '78 minutes', '83 minutes', '96 minutes', '115 minutes', '86 minutes', '92 minutes', '99 minutes', '73 minutes', '128 minutes', '85 minutes', '88 minutes', '125 minutes', '96 minutes', '104 minutes', '95 minutes', '72 minutes', '75 minutes', '61 minutes', '117 minutes', '94 minutes', '100 minutes', '143 minutes', '97 minutes', '85 minutes', '86 minutes', '50 minutes', '74 minutes', '136 minutes', '89 minutes', '76 minutes', '40 minutes', '120 minutes', '84 minutes', '113 minutes', '115 minutes', '131 minutes', '100 minutes', '68 minutes', '95 minutes', '97 minutes', '101 minutes', '119 minutes', '100 minutes', '76 minutes', '120 minutes', '81 minutes', '143 minutes', '106 minutes', '40 minutes', '120 minutes', '99 minutes', '82 minutes', '117 minutes', '151 minutes', '104 minutes', '76 minutes', '92 minutes', '95 minutes', '94 minutes', '168 minutes', '111 minutes', '82 minutes', '87 minutes', '110 minutes', '107 minutes', '124 minutes', '74 minutes', '83 minutes', '150 minutes', '97 minutes', '91 minutes', '100 minutes', ['111 minutes (theatrical)', '120 minutes (extended/Disney+)'], '96 minutes', '99 minutes', ['76 minutes', '85 minutes'], '98 minutes', '97 minutes', ['99 minutes (UK)', '90 minutes (U.S.)'], '96 minutes', nan, '90 minutes', '101 minutes', nan, '101 minutes', '96 minutes', '88 minutes', '97 minutes', '108 minutes', ['104 minutes (Original cut)', '84 minutes (Disney cut)'], '116 minutes', '103 minutes', '109 minutes', '115 minutes', '74 minutes', '123 minutes', '108 minutes', '100 minutes', '101 minutes', '125 minutes', nan, '90 minutes', '88 minutes', '109 minutes', '89 minutes', '104 minutes', '137 minutes', '106 minutes', '69 minutes', '103 minutes', '95 minutes', '132 minutes', '77 minutes', '96 minutes', '93 minutes', '104 minutes', '87 minutes', '101 minutes', '130 minutes', '77 minutes', '104 minutes', '149 minutes', '92 minutes', '102 minutes', '125 minutes', '107 minutes', '77 minutes', '124 minutes', '97 minutes', '84 minutes', '127 minutes', '81 minutes', '102 minutes', '124 minutes', '129 minutes', '106 minutes', '82 minutes', '130 minutes', '94 minutes', '154 minutes', '94 minutes', '117 minutes', '108 minutes', '106 minutes', '98 minutes', '114 minutes', '97 minutes', '117 minutes', '103 minutes', '124 minutes', '107 minutes', '161 minutes', '80 minutes', '129 minutes', '76 minutes', '129 minutes', '102 minutes', nan, '162 minutes', '105 minutes', '109 minutes', '118 minutes', '104 minutes', '99 minutes', '112 minutes', '131 minutes', '112 minutes', '76 minutes', '128 minutes', '100 minutes', '118 minutes', '119 minutes', '104 minutes', '100 minutes', '103 minutes', '114 minutes', '99 minutes', '102 minutes', '107 minutes', '78 minutes', '89 minutes', '95 minutes', '160 minutes', '85 minutes', '100 minutes', '95 minutes', '115 minutes', '113 minutes', '119 minutes', '101 minutes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, '306 minutes']

## subtask:

#### Subtask_1: 

- strip running time & convert in to the int

In [160]:
"80 minutes"
#list = movies_info

def minutes_to_int(running_time):
    
    if  isinstance(running_time , list ):
        return int (running_time[0].split( )[0])
    
    elif running_time == "N/a":
        return None
    else:
        return int (running_time.split( )[0])
    
# applying 
for movie in movies_info:
    movie['Running time in minutes(int)'] = minutes_to_int (movie.get( 'Running time' ,'N/a'))

In [162]:
print([x.get('Running time in minutes(int)') for x in movies_info])  # cleaned time data

[41, 83, 88, 126, 74, 64, 70, 42, 65, 71, 75, 94, 73, 75, 82, 68, 74, 96, 75, 84, 77, 92, 69, 81, 60, 127, 92, 76, 75, 73, 85, 81, 70, 90, 80, 75, 83, 83, 72, 97, 75, 104, 93, 105, 95, 97, 134, 69, 92, 126, 79, 97, 128, 74, 91, 105, 98, 130, 89, 93, 67, 98, 100, 118, 103, 110, 80, 79, 91, 91, 97, 118, 139, 92, 131, 87, 116, 93, 110, 110, 131, 101, 108, 84, 78, 75, 164, 106, 110, 99, 113, 108, 112, 93, 91, 93, 100, 100, 79, 96, 113, 89, 118, 92, 88, 92, 87, 93, 93, 93, 90, 83, 96, 88, 89, 91, 93, 92, 97, 100, 100, 89, 91, 112, 115, 95, 91, 95, 104, 74, 48, 77, 104, 128, 101, 94, 104, 90, 100, 88, 93, 98, 100, 112, 84, 98, 97, 114, 96, 100, 109, 83, 90, 107, 96, 103, 91, 95, 105, 113, 80, 101, 89, 74, 90, 89, 110, 74, 93, 84, 83, 69, 77, 107, 93, 88, 108, 84, 121, 89, 104, 90, 86, 84, 108, 107, 96, 98, 105, 108, 94, 106, 102, 88, 102, 102, 97, 111, 100, 96, 98, 78, 81, 108, 89, 99, 89, 81, 92, 100, 89, 79, 91, 101, 104, 103, 86, 105, 93, 92, 98, 95, 93, 87, 93, 87, 128, 86, 95, 114, 93, 83, 83, 88, 78, 112, 92, 74, 77, 82, 104, 113, 100, 78, 83, 96, 115, 86, 92, 99, 73, 128, 85, 88, 125, 96, 104, 95, 72, 75, 61, 117, 94, 100, 143, 97, 85, 86, 50, 74, 136, 89, 76, 40, 120, 84, 113, 115, 131, 100, 68, 95, 97, 101, 119, 100, 76, 120, 81, 143, 106, 40, 120, 99, 82, 117, 151, 104, 76, 92, 95, 94, 168, 111, 82, 87, 110, 107, 124, 74, 83, 150, 97, 91, 100, 111, 96, 99, 76, 98, 97, 99, 96, None, 90, 101, None, 101, 96, 88, 97, 108, 104, 116, 103, 109, 115, 74, 123, 108, 100, 101, 125, None, 90, 88, 109, 89, 104, 137, 106, 69, 103, 95, 132, 77, 96, 93, 104, 87, 101, 130, 77, 104, 149, 92, 102, 125, 107, 77, 124, 97, 84, 127, 81, 102, 124, 129, 106, 82, 130, 94, 154, 94, 117, 108, 106, 98, 114, 97, 117, 103, 124, 107, 161, 80, 129, 76, 129, 102, None, 162, 105, 109, 118, 104, 99, 112, 131, 112, 76, 128, 100, 118, 119, 104, 100, 103, 114, 99, 102, 107, 78, 89, 95, 160, 85, 100, 95, 115, 113, 119, 101, None, None, None, None, None, None, None, None, None, None, 306]

#### Subtask_2: 

- seperate the release date

In [190]:
[x.get( 'Release date', "N/a") for x in movies_info][0:5]

[['May 19, 1937'],
 ['December 21, 1937 ( Carthay Circle Theatre , Los Angeles , CA , premiere)'],
 ['February 7, 1940 ( Center Theatre )', 'February 23, 1940 (United States)'],
 ['November 13, 1940'],
 ['June 20, 1941']]

In [188]:
# sspliting / extracting the date from the list
def split_date(release_date):
    if isinstance(release_date ,list):
        entry =  release_date[0] 
        entry  = entry.split("(")[0]
        return entry
        # return release_date[0]..split("(")[0]
    elif release_date == "N/a":
        return None 
    else:
        return release_date
    
#apply 
for movie in movies_info:
    movie['Release Date Edited'] = split_date(movie.get("Release date" , "N/a"))

In [262]:
 [x.get( 'Release Date Edited') for x in movies_info]

['May 19, 1937',
 'December 21, 1937 ',
 'February 7, 1940 ',
 'November 13, 1940',
 'June 20, 1941',
 'October 23, 1941 ',
 'August 9, 1942 ',
 'August 24, 1942 ',
 'July 17, 1943',
 'December 21, 1944 ',
 'April 20, 1946 ',
 'November 12, 1946 ',
 'September 27, 1947',
 'May 27, 1948',
 'November 29, 1948 ',
 'October 5, 1949',
 'February 15, 1950 ',
 'June 22, 1950 ',
 'July 26, 1951 ',
 'March 13, 1952 ',
 'February 5, 1953 ',
 'August 8, 1953 ',
 'November 10, 1953',
 '26 October 1953 ',
 'August 17, 1954',
 'December 23, 1954',
 'May 25, 1955',
 'June 22, 1955',
 'September 14, 1955',
 'December 22, 1955',
 'June 8, 1956',
 'July 18, 1956',
 'November 6, 1956',
 'December 20, 1956',
 'June 19, 1957',
 'August 28, 1957',
 'December 25, 1957',
 'July 8, 1958',
 'August 12, 1958',
 'December 25, 1958',
 'January 29, 1959',
 'March 19, 1959',
 'June 24, 1959 ',
 'November 10, 1959',
 'January 21, 1960 ( Sarasota, FL )',
 'February 24, 1960',
 'May 19, 1960',
 'August 10, 1960',
 'November 1, 1960',
 'December 21, 1960',
 'January 25, 1961',
 'March 16, 1961',
 'June 21, 1961',
 'July 12, 1961',
 'July 17, 1961',
 'December 14, 1961',
 'April 5, 1962',
 'May 17, 1962',
 'June 6, 1962',
 'September 26, 1962',
 'November 7, 1962 ',
 'November 14, 1962 ',
 'January 16, 1963',
 'March 29, 1963 ',
 'June 1, 1963',
 'July 7, 1963',
 'November 20, 1963',
 'December 25, 1963',
 'March 12, 1964',
 'February 11, 1964 ',
 '11\xa0December\xa01963',
 'July 2, 1964',
 'August 27, 1964',
 'December 18, 1964',
 'January 28, 1965',
 'August 18, 1965 ',
 'December 2, 1965',
 'February\xa04,\xa01966',
 'June 25, 1966 ',
 'October 1, 1966',
 'December 1, 1966',
 'February 8, 1967 ',
 'March 8, 1967 ',
 'July 12, 1967',
 'October 18, 1967',
 'October 18, 1967',
 'June 23, 1967',
 'February 8, 1968',
 'March 21, 1968 ',
 'June 26, 1968',
 'December 20, 1968',
 'December 24, 1968 ',
 'March 21, 1969',
 'June 11, 1969',
 'December 31, 1969',
 'February 11, 1970',
 'July 1, 1970',
 'December 15, 1970 ',
 'December 11, 1970 ',
 'March 17, 1971',
 'June 22, 1971',
 'June 30, 1971',
 'October 7, 1971 ',
 'March 22, 1972 ',
 'July 12, 1972',
 'July 5, 1972',
 'October 18, 1972',
 'December 22, 1972',
 'February 1, 1973',
 'March 23, 1973',
 'June 20, 1973',
 'November 8, 1973',
 'December 14, 1973',
 'June 6, 1974',
 'July 31, 1974',
 'August 1, 1974',
 'December 20, 1974 (with Winnie the Pooh and Tigger Too )',
 'February 6, 1975',
 'March 21, 1975 ',
 'July 24, 1975',
 'July 9, 1975',
 'October 8, 1975',
 'December 25, 1975',
 'February 11, 1976 ',
 'July 1, 1976',
 'July 7, 1976',
 'December 17, 1976',
 'December 18, 1976',
 'May 26, 1976',
 'March 11, 1977',
 'June 22, 1977',
 'June 22, 1977',
 'June 24, 1977',
 'November 3, 1977',
 'December 16, 1977',
 'March 10, 1978',
 'June 30, 1978 ',
 'July 5, 1978',
 'February 9, 1979',
 'June 27, 1979',
 'July 19, 1979 ',
 'December 18, 1979 ',
 'December 21, 1979',
 'February 8, 1980',
 'April 17, 1980 ',
 'June 27, 1980',
 'July 9, 1980 ',
 'December 6, 1980 ',
 'February 11, 1981 (Los Angeles)',
 'March 20, 1981',
 'June 26, 1981',
 'July 10, 1981',
 'August 7, 1981',
 'February 5, 1982',
 'July 9, 1982',
 'July 30, 1982',
 'March 11, 1983',
 'April 29, 1983 ',
 'October 7, 1983 ',
 'June 21, 1985 ',
 'July 26, 1985',
 'September 27, 1985',
 'November 22, 1985',
 'July 2, 1986',
 'August 1, 1986',
 'June 5, 1987',
 '24 March 1988 ',
 'November 18, 1988',
 'June 23, 1989',
 'August 18, 1989',
 'November 17, 1989',
 'August 3, 1990',
 'November 16, 1990',
 'January 18, 1991',
 '3 October 1990',
 'May 24, 1991',
 'June 21, 1991',
 'September 29, 1991 ',
 'April 10, 1992',
 'July 17, 1992',
 'October 2, 1992',
 'November 25, 1992',
 'December 11, 1992',
 'February 3, 1993',
 'March 12, 1993',
 'April 2, 1993',
 'July 16, 1993',
 'October 1, 1993',
 'November 12, 1993',
 'January 14, 1994',
 'February 11, 1994',
 'March 25, 1994',
 'April 15, 1994',
 'June 15, 1994 ',
 'July 15, 1994',
 'October 28, 1994',
 'November 11, 1994',
 'December 25, 1994',
 'February 17, 1995',
 'March 3, 1995',
 'March 24, 1995',
 'April 7, 1995',
 'June 23, 1995',
 'July 28, 1995',
 'August 11, 1995',
 'September 29, 1995',
 'January 22, 1995 ',
 'November 19, 1995 ',
 'December 22, 1995',
 'February 16, 1996',
 'March 8, 1996',
 'April 12, 1996 ',
 'June 21, 1996',
 'August 30, 1996',
 'October 4, 1996',
 'November 27, 1996',
 'February 14, 1997',
 'March 7, 1997 ',
 'June 13, 1997 ',
 'July 16, 1997',
 'August 1, 1997',
 'October 10, 1997',
 'November 16, 1997 ',
 'December 25, 1997',
 'March 27, 1998 ',
 'June 19, 1998',
 'July 29, 1998 ',
 'November 13, 1998',
 'November 20, 1998',
 'December 25, 1998',
 'February 12, 1999',
 'March 26, 1999',
 'May 14, 1999',
 'June 12, 1999 ',
 'July 23, 1999',
 'May 1999 ',
 'November 13, 1999 ',
 'December 16, 1999 ',
 'February 11, 2000 ',
 'May 19, 2000 ',
 'July 7, 2000',
 'September 29, 2000',
 'November 22, 2000',
 'December 15, 2000',
 'February 10, 2001 ',
 'June 3, 2001 ',
 'August 3, 2001',
 'October 5, 2001',
 'October 28, 2001 ',
 'January 18, 2002',
 'February 10, 2002 ',
 'March 29, 2002',
 'June 21, 2002',
 'July 21, 2002',
 'July 20, 2001',
 'October 11, 2002 ',
 'November 1, 2002 ',
 'November 27, 2002',
 'February 14, 2003',
 'March 16, 2003 ',
 'March 31, 2003 ',
 'April 18, 2003 ',
 'May 2, 2003 ',
 'May 30, 2003',
 'June 28, 2003 ',
 'August 4, 2003 ',
 'November 1, 2003',
 'November 26, 2003',
 'December 25, 2003',
 'January 16, 2004',
 'February 6, 2004',
 'February 20, 2004 ',
 'April 2, 2004',
 'April 22, 2004',
 'June 13, 2004 ',
 'July 2, 2004',
 'August 11, 2004',
 'October 27, 2004 ',
 'November 19, 2004',
 'January 28, 2005',
 'February 11, 2005',
 'March 4, 2005',
 'March 18, 2005',
 'June 22, 2005',
 '5 September 2004 ',
 'July 29, 2005',
 'March 25, 2005 ',
 'September 30, 2005',
 'October 30, 2005 ',
 'December 7, 2005 ',
 'January 13, 2006',
 'January 27, 2006',
 'February 17, 2006 ',
 'March 10, 2006',
 'April 14, 2006',
 'May 26, 2006 ',
 'June 24, 2006 ',
 'August 25, 2006',
 'October 29, 1993',
 'November 3, 2006',
 'February 16, 2007',
 'March 23, 2007 ',
 'May 19, 2007 ',
 'June 22, 2007 ',
 'August 3, 2007',
 'August 28, 2007',
 'September 23, 2007 ',
 'October 20, 2007 ',
 'December 21, 2007',
 'February 1, 2008',
 'March 7, 2008',
 'May 7, 2008 ',
 'June 23, 2008 ',
 'October 3, 2008 ',
 'October 17, 2008',
 'October 17, 2008 ',
 'November 21, 2008',
 'December 25, 2008',
 'February 27, 2009',
 'March 11, 2009 ',
 'April 10, 2009',
 '10 October 2007 ',
 'May 29, 2009',
 None,
 'July 24, 2009',
 'July 19, 2008',
 '2008',
 '2009',
 'November 3, 2009 ',
 'November 25, 2009',
 'November 25, 2009 ',
 'February 25, 2010 ',
 'October 17, 2009 ',
 'May 9, 2010 ',
 'June 12, 2010 ',
 'July 8, 2010 ',
 'July 29, 2006',
 '26 October 2008 ',
 'September 30, 2010 ',
 '8 October 2010',
 'November 14, 2010 ',
 'April 24, 2009 ',
 'November 30, 2010 ',
 '14 January 2011 ',
 '17 February 2011',
 'March 11, 2011',
 '22 April 2011',
 'April 22, 2011 ',
 'April 29, 2011',
 'May 7, 2011 ',
 'June 18, 2011 ',
 'April 6, 2011 ',
 'November 4, 2011 ',
 '17 July 2010',
 'February 22, 2012 ',
 'April 20, 2012 ',
 '25 May 2012',
 'June 10, 2012 ',
 'August 15, 2012',
 'September 20, 2012 ',
 'October 29, 2012 ',
 'February 14, 2013 ',
 '16 March 2011 ',
 'June 5, 2013 ',
 'June 22, 2013 ',
 'August 2, 2013 ',
 'November 19, 2013 ',
 'October 20, 2013 ',
 'March 11, 2014 ',
 'April 18, 2014 ',
 'May 6, 2014 ',
 'May 28, 2014 ',
 'July 15, 2014 ',
 '19 September 2014',
 'October 6, 2014 ',
 'October 23, 2014 ',
 'December 8, 2014 ',
 'February 9, 2015 ',
 'February 13, 2015 ',
 'April 17, 2015 ',
 'May 9, 2015 ',
 'May 18, 2015 ',
 '19 June 2015',
 'November 10, 2015 ',
 'January 25, 2016 ',
 'February 13, 2016 ',
 'April 4, 2016 ',
 'April 23, 2016 ',
 'May 10, 2016 ',
 'June 8, 2016 ',
 'May 14, 2016 ',
 'August 8, 2016 ',
 'September 10, 2016 ',
 'November 14, 2016 ',
 '21 December 2016 ',
 '26 January 2005',
 'February 23, 2017 ',
 'August 12, 2016 ',
 'May 11, 2017 ',
 'May 23, 2017 ',
 'June 30, 2017 ',
 '14 July 2017',
 'October 20, 2017 ',
 'February 26, 2018 ',
 'June 5, 2018 ',
 'July 30, 2018 ',
 'October 29, 2018 ',
 'November 5, 2018 ',
 'November 29, 2018 ',
 'March 11, 2019 ',
 'April 17, 2019 ',
 'May 8, 2019 ',
 'June 11, 2019 ',
 'July 9, 2019 ',
 'October 18, 2019',
 'November 12, 2019 ',
 'November 12, 2019 ',
 'November 7, 2019 ',
 'December 20, 2019 ',
 'January 25, 2020 ',
 'February 21, 2020 ',
 'March 13, 2020 ',
 'March 28, 2018 ',
 'April 3, 2020',
 'June 12, 2020',
 'July 3, 2020',
 'July 31, 2020',
 'August 14, 2020',
 'August 21, 2020 ',
 'March 9, 2020 ',
 'December 4, 2020 ',
 'December 11, 2020 ',
 'October 11, 2020 ',
 'February 19, 2021',
 'March 5, 2021',
 'May 28, 2021',
 'July 30, 2021 ',
 '27 August 2021',
 'November 24, 2021',
 None,
 None,
 None,
 None,
 None]

In [256]:
None in [x.get( 'Release Date Edited') for x in movies_info]

True

#### Subtask_3: 

- convert datetime to datetime object

from datetime import datetime

def dt_to_dt  (date_str):
    fmts = ["%B %d, %Y" , "%d %B %Y"]
    for fmt in fmts:
        try :
            if date_str == None:
                return None 
            else :
                 return datetime.strptime(date_str , fmt)
        except :
            pass
    return None 

for movie in movies_info:
    movie["Movie Release Date"] = dt_to_dt(movie.get('Release Date Edited' ))

In [283]:
# delete the raw data

for movie  in movies_info:
    del movie['Running time']
    del movie['Release date']
    del movie["Movie Release Date"]

#### save file

In [285]:
save_data("Disney Dataset full edited.json" , movies_info)

TypeError: Object of type datetime is not JSON serializable